<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cropInfo.css' %}">
    <title>Information</title>
</head>

<body>
    <header>
        <div class="head">
            <div class="dt">
                <img src="{% static 'images/date and time.png' %}" alt="date and time">
                <br>
                <p><span id="time"> </span> <br> <span id="date"> </span></p>
            </div>
            <div class="temp">
                <img src="{% static 'images/temperature.png' %}" alt="temperature">
                <br>
                <p>Temperature:{{temperature}}</p>
            </div>
            <div class="humi">
                <img src="{% static 'images/humidity.png' %}" alt="humidity">
                <br>
                <p>HUMIDITY:{{humidity}}</p>
            </div>
            <div class="profile">
                <img src="{% static 'images/profile.png' %}" alt="profile">
                <p>ID: AZ1987DSR <br> Installation date: 29/04/2022 <br> Next Maintenance: 23/05/2023</p>
            </div>
            <div class="image">
                <p>Username:{{username}}</p>
            </div>
        </div>
    </header>

    <main>
        <div>
            <div class="img">
                <img src="{% static 'images/cabbage.jpg' %}" alt="crop" width="300" height="300">
            </div>
            <table>
                <tr>
                    <th>Crop:</th>
                    <td>Cabbage</td>
                </tr>
                </tr>
                <tr>
                    <th>Planted date:</th>
                    <td>15/12/2022</td>
                </tr>
                <tr>
                    <th>Predictive Maturing date:</th>
                    <td>20/04/2023</td>

                </tr>
                <tr>
                    <th>Days required to Mature:</th>
                    <td>80-180 days</td>
                </tr>
                <tr>
                    <th>Todays's Day:</th>
                    <td id="Todaydate"></td>

                </tr>

            </table>
        </div>
    </main>

    <br>
    <script src="{% static 'js/time.js' %}"></script>
    <script src="{% static 'js/date.js' %}"></script>
</body>

</html>