<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="div">
        <p class="head">USER LOGIN</p>
        <form action="{% url 'user'  %}">
            <label for="name"><b>User Name:</b></label>
            <input type="text" name="uname" id="uname" placeholder="Enter User-Name">
            <br><br>
            <label for="mail"><b>Email:</b></label>
            <input type="text" name="mail" id="mail" placeholder="Enter Email">
            <br><br>
            <label for="polyID"><b>Polyhouse ID:</b></label>
            <input type="text" name="polyID" id="polyID" placeholder="Enter Polyhuse ID">

            <br><br><br>

            <button type="submit" class="button" id="submit"> LOGIN
            </button>

            <br><br><br>

        </form>
    </div>
</body>

</html>