body{
    margin: 0%;
}

header{
    background-color: rgb(38, 38, 255);
    height: 155px;
    padding: 15px;
    margin-bottom: 5px;
}
header .head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 148px;
    grid-gap: 4px;
    
}

.head .dt, .temp, .humi, .image, .profile{
    border: 1px solid;
    padding: 10px;
}

.head .dt img, .temp img, .humi img, .profile img{
    width: 70px;
}

.control{
    display: flex;
    height: 355px;
    justify-content: space-around;
    background-color: rgb(240, 243, 34);
    margin-left: 20%;
    margin-right: 20%;
}

.control div{
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
}

.block{
    width: 325px;
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.control button{
    padding: 20px;
    border-radius: 10px;
    width: 190px;
    font-size: 22px;
}

.status{
    margin-left: 20%;
    margin-top: 5px;
    margin-right: 20%;
    background-color: crimson;
    /* height: 55px; */
    padding: 3px;
}

.status p{
    font-size: 25px;
    font-weight: 580;
    text-align: center;
}

.back{
    width: 100px;
    margin-left: 10px;
    border-radius: 10px;
}

.back img{
    width: 30px;
}